.promo {
  height: 560px;
  position: relative;
  background-color: #073042;
}

.promo__title {
  color: #FFF;
  margin: 0;
  padding-top: 50px;
  padding-left: 70px;
  max-width: 630px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
}

.promo__image {
  max-width: 722px;
  max-height: 244px;
  width: 100%;
  height: 100%;
  overflow: visible;
  object-fit: cover;
  position: absolute;
  bottom: 60px;
  right: 77px;
}

@media screen and (max-width: 880px) {
  .promo {
    height: 844px;
    display: flex;
    justify-content: center;
  }

  .promo__image {
    bottom: 70px;
    right: 44px;
    max-width: 680px;
    max-height: 230px;
  }

  .promo__title {
    padding-top: 300px;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .promo {
    height: 630px;
  }

  .promo__image {
    bottom: 40px;
    right: 0;
    padding-right: 0;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding-top: 183px;
  }
}